{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "Worker": {
    "Interval": 1000
  },
  "Serilog": {
    "Folder": "Log",
    "File": "ProductFeederServiceWorker.log",
    "Size": 5242880
  },
  "MongoDB": {
    "ConnectionURI": "YOUR MONGODB URI",
    "DatabaseName": "YOUR DATABASE NAME",
    "CollectionName": "SalesOrders"
  },
  "RabbitMQ": {}
}
